//
//
//

.serial-products-title {
  display: flex;
  align-items: center;
}

.serial-caegories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 16px;
}

.serial-caegories-img-wrapper {
  overflow: hidden;
}

.serial-caegories-img {
  width: 167px;
  height: 169px;
  transition: all 250ms ease-in-out;
}

.serial-caegories-img:hover {
  transform: scale(1.06);
  transition: transform 250ms ease-in-out;
}

.serial-caegories-text {
  display: flex;
  justify-content: center;

  color: var(--text-dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.arrow-back-products {
  transition: all 250ms ease-in-out;
}

.arrow-back-link:hover .arrow-back-products {
  transform: rotate(180deg) translateX(5px) scale(1.06);
  transition: all 250ms ease-in-out;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 768px ==================================== */
@media screen and (min-width: 768px) {
  .serial-caegories-list {
    row-gap: 24px;
    column-gap: 24px;
  }

  .serial-caegories-img {
    width: 302px;
    height: 305px;
  }

  .serial-caegories-text {
    font-size: 20px;
    letter-spacing: 0.6px;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 1300px ==================================== */
@media screen and (min-width: 1300px) {
  .serial-caegories-list {
    justify-content: flex-start;
    row-gap: 32px;
  }
}
