:root {
  --background: #fff;
  --background-header: rgba(255, 255, 255, 0.2);
  --text-dark: #232427;
  --text-light: #f9f9f9;
  --accent-blue: #bed0d2;
  --text-secondary: #979797;
  --text-secondary-3: #cacaca;
  --coffee: #a8a198;
}
