//
//
//

.project-title-used-items {
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; /* 28.8px */
  letter-spacing: 0.019px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.project-used {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  gap: 10px;
}

.project-used-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  gap: 4px;
}

.project-used-title {
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; /* 28.8px */
  letter-spacing: 0.019px;
  text-transform: uppercase;
}

.project-used-text {
  color: var(--text-secondary);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.017px;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 768px ==================================== */
@media screen and (min-width: 768px) {
  .project-title-used-items {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.024px;
    margin-bottom: 32px;
  }

  .project-used {
    gap: 16px;
  }

  .project-used-furniture {
    width: 254px;
    height: 254px;
  }

  .project-used-info {
    padding-top: 16px;
    gap: 8px;
  }

  .project-used-title {
    color: var(--text-dark);
    font-size: 20px;
    line-height: 1.2; /* 28.8px */
    letter-spacing: 0.024px;
  }

  .project-used-text {
    font-size: 16px;
    letter-spacing: 0.019px;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 1300px ==================================== */
@media screen and (min-width: 1300px) {
  .project-title-used-items {
    font-size: 24px;
    letter-spacing: 0.029px;
    margin-bottom: 40px;
  }

  .project-used {
    gap: 24px;
  }

  .project-used-furniture {
    width: 302px;
    height: 302px;
  }

  .project-used-title {
    font-size: 24px;
    letter-spacing: 0.029px;
  }

  .project-used-text {
    font-size: 20px;
    letter-spacing: 0.024px;
  }
}
