//
//
//

.container-project {
  margin-top: 124px;
  margin-bottom: 56px;
}

.project-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.arrow-back {
  transition: all 250ms ease-in-out;
}

.arrow-back-link:hover .arrow-back {
  transform: rotate(180deg) translateX(5px) scale(1.06);
  transition: all 250ms ease-in-out;
}

.project-info-about {
  // display: flex;
  // align-items: center;
  // gap: 16px;
}

.project-title {
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.019px;
  text-transform: uppercase;
}

.project-place {
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5; /* 21px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.project-inst-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  // margin-right: auto;
  gap: 8px;
  // margin-top: 16px;
  // margin-bottom: 24px;
}

.project-inst-link:hover .project-link-svg {
  transform: scale(1.15);
  transition: all 250ms ease-in-out;
}

.project-link-svg {
  width: 23px;
  height: 23px;
  transition: all 250ms ease-in-out;
}

.project-link {
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--text-dark);
}

.project-text-about {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.017px;
  margin-bottom: 24px;
}

.project-gallery-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  gap: 10px;
  overflow-x: scroll;
}

.project-img {
  border-radius: 24px;
  cursor: pointer;
}

.project-modal-overlay {
  background: rgba(28, 28, 28, 0.847);
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease-in-out;
}

.project-modal-overlay.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms ease-in-out;
}

.project-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-modal-img {
  width: 350px;
  border-radius: 45px;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 768px ==================================== */
@media screen and (min-width: 768px) {
  .container-project {
    margin-top: 159px;
    margin-bottom: 64px;
  }

  .project-info {
    margin-bottom: 32px;
  }

  .project-info-about {
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  .project-title {
    font-size: 24px;
    line-height: 1.2; /* 28.8px */
    letter-spacing: 0.029px;
  }

  .project-place {
    font-size: 20px;
    letter-spacing: 0.6px;
  }

  .project-inst-link {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
  }

  .project-link-svg {
    width: 26px;
    height: 26px;
  }

  .project-link {
    font-size: 16px;
    letter-spacing: 0.8px;
  }

  .project-text-about {
    font-size: 16px;
    letter-spacing: 0.019px;
    margin-bottom: 32px;
  }

  .project-gallery-list {
    margin-bottom: 64px;
  }

  .project-modal-img {
    width: 600px;
    height: 600px;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 1300px ==================================== */
@media screen and (min-width: 1300px) {
  .container-project {
    margin-top: 167px;
    margin-bottom: 80px;
  }

  .project-info {
    margin-bottom: 40px;
  }

  .project-info-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }

  .project-title {
    font-size: 24px;
  }

  .project-place {
    font-size: 20px;
  }

  .project-link {
    font-size: 18px;
    letter-spacing: 0.9px;
  }

  .project-link-svg {
    width: 28px;
    height: 28px;
  }

  .project-text-about {
    font-size: 20px;
    letter-spacing: 0.024px;
  }

  .project-gallery-item {
    overflow: hidden;
    border-radius: 24px;
  }

  .project-img {
    transition: all 250ms ease-in-out;
  }

  .project-img:hover {
    transform: scale(1.05);
    transition: all 250ms ease-in-out;
  }

  .project-modal-img {
    width: 750px;
    height: 750px;
  }
}
