//
//
//

.container-career {
  margin-top: 124px;
  margin-bottom: 56px;
}

.career-text {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.017px;
}

.career-text:not(:last-child) {
  margin-bottom: 12px;
}

.career-form-title {
  color: var(--text-dark);
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5; /* 28.8px */
  letter-spacing: 0.022px;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 8px;
  text-align: center;
}

.career-form-label {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; /* 21px */
  letter-spacing: 0.017px;
  margin-left: 17px;
  margin-bottom: 4px;
  margin-right: auto;
}

.career-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.career-form-input {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.17px;

  padding-left: 16px;
  width: 100%;
  height: 48px;
  border-radius: 15px;
  border: 1px solid var(--coffee);
  margin-bottom: 16px;
  outline-color: var(--text-dark);
}

.career-form-label-textarea {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.017px;
  margin-left: 17px;
  margin-right: auto;
}

.career-form-input-textarea {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.17px;

  padding-left: 16px;
  padding-top: 15px;
  width: 100%;
  height: 180px;
  border-radius: 15px;
  border: 1px solid var(--coffee);
  resize: none;
  outline-color: var(--text-dark);
  margin-top: 4px;
}

.textarea-input-block {
  width: 100%;
  position: relative;
  line-height: 0;
}

.input-file-svg {
  cursor: pointer;
  position: absolute;
  top: 45px;
  right: 20px;
  width: 18px;
  height: 18px;
}

.custom-file input[type="file"] {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.career-textarea-text {
  text-align: center;
  color: var(--text-secondary);
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.career-form-btn {
  padding: 16px 0;
  width: 100%;
  height: 48px;
  border-radius: 16px;
  border: none;
  background: var(--accent-blue);

  color: var(--text-dark);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 768px ==================================== */
@media screen and (min-width: 768px) {
  .container-career {
    margin-top: 159px;
    margin-bottom: 64px;
  }

  .career-text {
    color: var(--text-dark);
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 30px */
    letter-spacing: 0.019px;
  }

  .career-text:not(:last-child) {
    margin-bottom: 16px;
  }

  .career-form-title {
    color: var(--text-dark);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4; /* 28.8px */
    letter-spacing: 0.029px;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 24px;
    text-align: center;
  }

  .career-form-label {
    color: var(--text-dark);
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 21px */
    letter-spacing: 0.019px;
    margin-left: 153px;
    margin-bottom: 8px;
    margin-right: auto;
  }

  .career-form-input {
    color: var(--text-dark);
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 160% */
    letter-spacing: 0.19px;

    padding-left: 16px;
    width: 434px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid var(--coffee);
    margin-bottom: 16px;
    outline-color: var(--text-dark);
  }

  .career-form-label-textarea {
    color: var(--text-dark);
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 30px */
    letter-spacing: 0.019px;
    margin-left: 17px;
    margin-bottom: 8px;
    margin-right: auto;
  }

  .career-form-input-textarea {
    color: var(--text-dark);
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5; /* 30px */
    letter-spacing: 0.17px;

    padding-left: 16px;
    padding-top: 15px;
    width: 434px;
    height: 180px;
    border-radius: 15px;
    border: 1px solid var(--coffee);
    resize: none;
    outline-color: var(--text-dark);
    margin-top: 8px;
  }

  .input-file-svg {
    cursor: pointer;
    position: absolute;
    top: 55px;
    right: 20px;
    width: 18px;
    height: 18px;
  }

  .custom-file input[type="file"] {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }

  .career-textarea-text {
    text-align: center;
    color: var(--text-secondary);
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .career-form-btn {
    padding: 16px 0;
    width: 434px;
    height: 56px;
    border-radius: 16px;
    border: none;
    background: var(--accent-blue);

    color: var(--text-dark);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
}

//
//
//
/* ==================================== min-width:768px ==================================== */
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .textarea-input-block {
    width: 434px;
  }

  .career-textarea-text {
    width: 434px;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 1300px ==================================== */
@media screen and (min-width: 1300px) {
  .container-career {
    margin-top: 167px;
    margin-bottom: 80px;
  }

  .career-block {
    display: flex;
    justify-content: space-between;
  }

  .career-form-title {
    color: var(--text-dark);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2; /* 28.8px */
    letter-spacing: 0.029px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .career-text {
    width: 519px;
    color: var(--text-dark);
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5; /* 30px */
    letter-spacing: 0.024px;
  }

  .career-text:not(:last-child) {
    margin-bottom: 24px;
  }

  .career-form-block {
    width: 628px;
  }

  .career-form {
    display: flex;
    flex-direction: column;
  }

  .career-form-label {
    color: var(--text-dark);
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6; /* 160% */
    letter-spacing: 0.6px;
    margin-left: 17px;
  }

  .career-form-input {
    color: var(--text-dark);
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6; /* 160% */
    letter-spacing: 0.6px;

    padding-left: 16px;
    width: 628px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid var(--coffee);
    margin-bottom: 16px;
    outline-color: var(--text-dark);
  }

  .career-form-label-textarea {
    color: var(--text-dark);
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5; /* 30px */
    letter-spacing: 0.024px;
    margin-left: 17px;
  }

  .career-form-input-textarea {
    color: var(--text-dark);
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5; /* 30px */
    letter-spacing: 0.024px;

    padding-left: 16px;
    padding-top: 15px;
    width: 628px;
    // width: 100%;
    height: 296px;
    border-radius: 15px;
    border: 1px solid var(--coffee);
    resize: none;
    outline-color: var(--text-dark);
  }

  .input-file-span {
    position: relative;
    right: 45px;
    bottom: 260px;
  }

  .input-file-svg {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 24px;
    height: 24px;
  }

  .custom-file input[type="file"] {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }

  .career-textarea-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.6; /* 266.667% */
    letter-spacing: 0.36px;
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .career-form-btn {
    margin: 0 auto;
    padding: 16px 0;
    width: 281px;
    height: 64px;
    border-radius: 16px;
    border: none;
    background: var(--accent-blue);

    color: var(--text-dark);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }
}
