.arrow-back {
  transform: rotate(180deg);
  width: 23px;
  height: 23px;
  margin-right: 24px;
  cursor: pointer;
}

.arrow-back-products {
  transform: rotate(180deg);
  width: 23px;
  height: 23px;
  margin-right: 16px;
  cursor: pointer;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 768px ==================================== */
@media screen and (min-width: 768px) {
  .arrow-back {
    width: 30px;
    height: 30px;
    margin-right: 40px;
  }

  .arrow-back-products {
    width: 30px;
    height: 30px;
    margin-right: 24px;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 1300px ==================================== */
@media screen and (min-width: 1300px) {
}
