//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== max-width: 1299px ==================================== */
@media screen and (max-width: 1299px) {
  .menu {
    display: none;
  }
}

//
//
//

.list {
  list-style: none;
}

.page-header {
  height: 112px;
  padding-top: 32px;
  padding-bottom: 32px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: var(--background-header);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header-container-elements {
  display: flex;
  align-items: center;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin-left: 24px;
}

.translate-btn {
  color: var(--text-dark);
  padding: 5px;
  margin-left: 24px;
  border: none;
  background-color: transparent;

  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 768px ==================================== */
@media screen and (min-width: 768px) {
  .page-header {
    height: 139px;
  }

  .logo-img {
    width: 202px;
    height: 75px;
  }

  .mobile-menu-open {
    margin-left: 32px;
  }

  .translate-btn {
    margin-left: 32px;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 1300px ==================================== */
@media screen and (min-width: 1300px) {
  .logo-img {
    width: 193px;
    height: 75px;
  }

  .mobile-menu-open {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    min-width: 845px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-dark);
  }

  .list {
    list-style: none;
  }

  .header-logo {
    margin-right: 55px;
  }

  .link {
    text-decoration: none;
  }

  .menu-link {
    border: none;
    background-color: transparent;
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: 0.017px;
    padding: 30px 0;
  }

  .translate-btn {
    margin-left: 24px;
  }

  .dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .dropdown-chevron {
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
  }
  .dropdown-chevron.active {
    transform: rotate(-90deg);
  }

  .desktop-dropdown {
    position: absolute;
    top: 108px;
    width: 252px;
    background-color: var(--background);
    box-shadow: 0px 4px 12px 0px rgba(194, 189, 183, 0.45);
    border-radius: 12px;
  }

  .desktop-dropdown-block {
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
  }

  .desktop-dropdown-block.active {
    opacity: 1;
    visibility: visible;
    transition: all 250ms ease-in-out;
  }

  .desktop-dropdown-item {
    cursor: pointer;
  }

  .desktop-dropdown-item a {
    height: 56px;
    display: block;
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.017px;
    padding: 20px 0 20px 16px;
  }

  .desktop-dropdown-item:hover {
    background-color: var(--text-secondary-3);
  }

  .desktop-dropdown-item:first-child {
    border-bottom: 1px solid var(--text-secondary-3);
    border-radius: 12px 12px 0 0;
  }

  .desktop-dropdown-item:last-child {
    border-radius: 0 0 12px 12px;
  }
}
