//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== max-width: 1299px ==================================== */
@media screen and (max-width: 1299px) {
  .menu {
    display: none;
  }
}

//
//
//

.list {
  list-style: none;
}

.page-header {
  height: 112px;
  padding-top: 32px;
  padding-bottom: 32px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: var(--background-header);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  transition: transform 500ms;
}

.page-header.hidden {
  transform: translateY(-100%);
}

.page-header.visible {
  transform: translateY(0);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header-container-elements {
  display: flex;
  align-items: center;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin-left: 24px;
}

.translate-btn {
  position: relative;
  color: var(--text-dark);
  padding: 5px;
  margin-left: 24px;
  border: none;
  background-color: transparent;

  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.dropdown-translate {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease-in-out;
}

.dropdown-translate.active {
  opacity: 1;
  visibility: visible;
  transition: all 250ms ease-in-out;
}

.translate-block {
  position: absolute;
  top: 40px;
  right: -10px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 60px;
  height: 95px;
  background: var(--background);
  padding: 10px 0px 24px 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px 0px rgba(194, 189, 183, 0.45);
}

.translate-block-btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 1px solid var(--text-secondary-3);
  padding: 8px;
  transition: all 150ms ease-in-out;

  color: var(--text-dark);
  font-family: Comfortaa, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.017px;
  text-transform: uppercase;

  &:hover {
    background: var(--text-secondary-3);
    border-bottom: 1px solid var(--text-secondary-3);
    transition: background 150ms ease-in-out;
  }
}

.cart-link {
  position: relative;
}

.header-total-items-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f3f5ad;

  position: absolute;
  top: 5px;
  right: -5px;
}

.header-total-items-count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-text-dark, #232427);
  font-family: Comfortaa, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.012px;
  height: 100%;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 768px ==================================== */
@media screen and (min-width: 768px) {
  .page-header {
    height: 139px;
  }

  .logo-img {
    width: 202px;
    height: 75px;
  }

  .mobile-menu-open {
    margin-left: 32px;
  }

  .translate-btn {
    margin-left: 32px;
  }

  .translate-block {
    right: -15px;
    gap: 16px;
    width: 65px;
    height: 105px;
    padding: 10px 0px 24px 0px;
  }

  .translate-block-btn {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.017px;
  }

  .cart-link {
    position: relative;
  }

  .header-total-items-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #f3f5ad;

    position: absolute;
    top: 3px;
    right: -9px;
  }

  .header-total-items-count {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-text-dark, #232427);
    font-family: Comfortaa, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.012px;
    height: 100%;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== min-width: 1300px ==================================== */
@media screen and (min-width: 1300px) {
  .logo-img {
    width: 193px;
    height: 75px;
  }

  .mobile-menu-open {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    min-width: 845px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-dark);
  }

  .list {
    list-style: none;
  }

  .header-logo {
    margin-right: 55px;
  }

  .link {
    text-decoration: none;
  }

  .menu-item {
  }

  .menu-link {
    border: none;
    background-color: transparent;
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: 0.017px;
    padding: 30px 0;
    transition: all 250ms ease-in-out;
    position: relative;
  }

  .menu-link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 25px;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 250ms;
  }

  .menu-item:not(:first-child):hover .menu-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 25px;
    height: 1px;
    transition: width 250ms;
  }

  .translate-btn {
    margin-left: 24px;
  }

  .dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .dropdown-chevron {
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
    transition: all 250ms ease-in-out;
  }
  .dropdown-chevron.active {
    transform: rotate(-90deg);
    transition: all 250ms ease-in-out;
  }

  .desktop-dropdown {
    position: absolute;
    top: 108px;
    width: 252px;
    background-color: var(--background);
    box-shadow: 0px 4px 12px 0px rgba(194, 189, 183, 0.45);
    border-radius: 12px;
  }

  .desktop-dropdown-block {
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
  }

  .desktop-dropdown-block.active {
    opacity: 1;
    visibility: visible;
    transition: all 250ms ease-in-out;
  }

  .desktop-dropdown-item {
    cursor: pointer;
  }

  .desktop-dropdown-item a {
    height: 56px;
    display: block;
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.017px;
    padding: 20px 0 20px 16px;
  }

  .desktop-dropdown-item:hover {
    background-color: var(--text-secondary-3);
  }

  .desktop-dropdown-item:first-child {
    border-bottom: 1px solid var(--text-secondary-3);
    border-radius: 12px 12px 0 0;
  }

  .desktop-dropdown-item:last-child {
    border-radius: 0 0 12px 12px;
  }

  .translate-block {
    position: absolute;
    top: 38.5px;
    right: -17px;
    gap: 16px;
    height: 120px;
    padding: 16px 0px 24px 0px;
  }

  .cart-link {
    position: relative;
  }

  .header-total-items-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #f3f5ad;

    position: absolute;
    top: 3px;
    right: -9px;
  }

  .header-total-items-count {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-text-dark, #232427);
    font-family: Comfortaa, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.012px;
    height: 100%;
  }
}
