//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/* ==================================== max-width: 767px ==================================== */
@media screen and (max-width: 767px) {
  .carousel-list-item:nth-child(n + 3) {
    display: none;
  }

  .chevron-btn-carousel {
    margin-bottom: 16px;
  }

  .carousel-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
  }

  .carousel-list-item {
    cursor: pointer;
  }

  .carousel-list-img {
    border-radius: 16px;
    width: 167px;
    height: 167px;
  }

  .carousel-slider-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-slider {
    width: 48px;
    height: 8px;
    display: flex;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 8px;
  }
}

//
//
//

/* ==================================== max-width: 1299px ==================================== */
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .carousel-list-item:nth-child(n + 4) {
    display: none;
  }

  .chevron-btn-carousel {
    margin-bottom: 24px;
  }

  .carousel-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }

  .carousel-list-item {
    cursor: pointer;
  }

  .carousel-list-img {
    border-radius: 16px;
  }

  .carousel-list-img {
    width: 222px;
    height: 222px;
  }

  .carousel-slider {
    width: 83px;
    height: 12px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
  }
}

//
//
//

/* ==================================== min-width: 1300px ==================================== */
@media screen and (min-width: 1300px) {
  .chevron-btn-carousel {
    margin-bottom: 24px;
  }

  .carousel-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }

  .carousel-list-item {
    cursor: pointer;
  }

  .carousel-list-img {
    width: 302px;
    height: 302px;
    border-radius: 16px;
  }

  .carousel-slider {
    width: 96px;
    height: 16px;
    margin-top: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
